.search-results-list {
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
}

.search-results-list li {
    display: inline-block;

}

.search-results-list img {
    height: 20vh;
    padding: 0.5rem;
}

/*** MEDIA QUERIES ***/
@media screen and (min-width: 700px) {
    .search-results-list img {
        height: 25vh;
        width: auto;
        padding: 0.5rem;
    }
}